.slider {
  height: 55vh;           
  width: 100%;
  margin: auto;
  display: grid;
  place-items: center;
  background-color: rgba(191, 226, 228, 0.3);
  overflow: hidden;
}

.slide-track {
  display: flex;
  gap: 2vw;             
  animation: scroll 35s linear infinite;
  overflow-y: visible;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.slide {
  height: 100%;              
  width: 18vw;            
  display: flex;
  align-items: center;
  padding: 0.5vw 1vw;              
  perspective: 100px;
  border-radius: 2vw;  
  overflow: visible;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2vw;
  transition: transform 0.8s ease;
}

.slide img:hover {
  transform: translateZ(20px) scale(1.03);
}

.result-heading {
  color: #168287;          /* PRIMARY */
  font-size: 2.25rem;      /* text-4xl */
  font-weight: 800;        /* font-extrabold */
  line-height: 1.25;       /* leading-tight */
  filter: drop-shadow(0 1px 1px rgba(0,0,0,0.1)); /* drop-shadow-sm */
  background-color: rgba(202, 235, 237, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

