.slider {
  height: 45vh;           
  width: 100%;
  margin: auto;
  display: grid;
  place-items: center;
  background-color: rgba(22, 130, 135, 0.2);
  overflow: hidden;
}

.slide-track {
  display: flex;
  gap: 2vw;             
  animation: scroll 35s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.slide {
  height: 100%;              
  width: 18vw;            
  display: flex;
  align-items: center;
  padding: 1vw;              
  perspective: 100px;
  border-radius: 2vw;  
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2vw;
  transition: transform 0.8s ease;
}

.slide img:hover {
  transform: translateZ(20px) scale(1.03);
}
